<div class="mdl-card mdl-shadow--4dp">
   <div class="mdl-card__title">
     <h2 class="mdl-card__title-text">Basic Information</h2>
   </div>
   <div class="mdl-card__supporting-text">
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.classAndLevel" type="text" id="class_and_level"disabled={{!editable}} >
       <label class="mdl-textfield__label"  for="class_and_level">Class & Level</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.background" type="text" id="background" disabled={{!editable}} >
       <label class="mdl-textfield__label" for="background">Background</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.basicInfoName" type="text" id="basicInfo_name" disabled={{!editable}}>
       <label class="mdl-textfield__label" for="basicInfo_name">basicInfo Name</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.faction" type="text" id="faction" disabled={{!editable}}>
       <label class="mdl-textfield__label" for="faction">Faction</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.race" type="text" id="race" disabled={{!editable}}>
       <label class="mdl-textfield__label" for="race">Race</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.alignment" type="text" id="alignment" disabled={{!editable}}>
       <label class="mdl-textfield__label" for="alignment">Alignment</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.experiencePoints" type="text" id="experience_points" disabled={{!editable}}>
       <label class="mdl-textfield__label" for="experience_points">Experience Points</label>
     </div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
       <input class="mdl-textfield__input" [(ngModel)]="basicInfo.dciNumber" type="text" id="dci_number" disabled={{!editable}}>
       <label class="mdl-textfield__label" for="dci_number">DCI Number</label>
     </div>
 </div>
 <div class="mdl-card__actions">
   <a (click)="editable = !editable">
     <div *ngIf="!editable">
       Edit
     </div>
     <div *ngIf="editable">
       Save
     </div>
   </a>
 </div>
</div>
