<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
   <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
         <span class="mdl-layout-title">Dungeons & Dragons Player Sheet</span>
         <div class="mdl-layout-spacer"></div>
         <div class="mdl-textfield mdl-js-textfield">
           <input class="mdl-textfield__input"  type="text" id="text1">
           <label class="mdl-textfield__label" for="text1">Enter your character name</label>
         </div>
      </div>
   </header>
   <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Dengeons & Dragons Player Management</span>
      <nav class="mdl-navigation">
         <a class="mdl-navigation__link" href="">Load Player</a>
         <a class="mdl-navigation__link" href="">Join Game</a>
      </nav>
   </div>
   <main class="mdl-layout__content">
     <router-outlet></router-outlet>
  </main>
</div>
